<!DOCTYPE html>
<html>
  <head>
    <title>Oyama</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

    <header>
      <h1><%= link_to "大山MAP", root_path %></h1>
      <h4><%= link_to "記事を作成", new_list_path %></h4>
    </header>

  <body>
    <%= yield %>
  </body>
</html>
